# Build results
bin/
obj/
publish/
artifacts/
[Bb]uild/
*.user
*.suo

# Visual Studio
.vs/
.vscode/
*.csproj.user
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
packages/

# Test output
TestResults/

# OS
Thumbs.db
.DS_Store

# IDE - JetBrains
.idea/
